@font-face {
    font-family: 'GlacialIndif';
    src: url(fontes/GlacialIndifference-Regular.otf)format('opentype');
}
*{
    margin: 0;
    font-family: "GlacialIndif";
    box-sizing: border-box;
    padding: 0;
}
html{
	scroll-behavior: smooth;
	scroll-padding-top: 10vh;
}
header{
    padding-top: 2vh;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.87);
    z-index: 1000;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 15vh;
}
.logotipo{
    width: 50%;
}
ul.menu{
    display: flex;
    justify-content: end;
    gap: 4vh;
    margin-right: 15vh;
}
li.sessao{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.linkmenu{
    position: relative;
    padding: 0.5rem 0;
    display: inline-block;
    overflow: hidden;
}
.linkmenu::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100px;
    background-color: #0065e0b7;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
}
.linkmenu:hover::before{
    transform: translateX(0);
}

.logo{
    display: flex;
    justify-content: start;
}
.elem1{
    position: absolute;
    transform: translateX(105vh);
    top: -15vh;
}
.mark1{
    width: 135%;
    overflow: hidden;
    transform: rotate(-6deg);
    animation-name: movimento;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes movimento {
    0%{
       transform: translateX(0);
    }
    50%{
        transform: rotate(-5deg);
    }
    100%{
        transform: translateX(0)
    }
}
.avatar{
    position: absolute;
    left: 105vh;
    top: -10.4vh;
}
.avatarlara{
    width: 130%;
}
h1.titulocorpo{ 
    text-align: center;
    font-size: 4vh;
    padding-top: 5vh;
}
.apresentacao{
    min-height: 100vh;
    overflow-x: hidden;
}
.aprenbox{
    position: relative;
    top: 30vh;
    left: 15vh;
}
.titulointro{
    padding-bottom: 1vh;
    font-weight: 900;
    font-size: 5vh;
}
.subtitulointro{
    padding-bottom: 2.5vh;
}
.textointro{
    width: 45vw;
    text-align: justify;
    padding-bottom: 3vh;
}
button.saibamais{
    width: 17vh;
    height: 6vh;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.247);
}
.saibamais:hover{
    transform: scale(1.05);
}
.saibamais{
    color: rgb(0, 0, 0);
}
.mainredes{
    padding-top: 5vh;
}
.fa-brands{
    padding-right: 0.6vh;
    cursor: pointer;
}
.fa-brands:hover{
    transform: scale(1.05);
}
.fa-solid{
    cursor: pointer;
}
.fa-solid:hover{
    transform: scale(1.05);
}


/* -------------------------------------------------------------------Sobre--------------------------------------------------------------- */

.sobre{
    min-height: 100vh;
    display: flex;
}
.foto{
    display: flex;
    justify-content: center;
}
.fotolara{
    width: 80%;
}
.nomesobre{
    text-align: center;
    padding-bottom: 1vh;
}
.subsobre{
    text-align: center;
}
.infosobre{
    margin-left: 7vh;
    width: 100%;
    padding-top: 7vh;
}
.continfogerais{
    padding-top: 5vh;
    display: flex;
    justify-content: center;
}
.local{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vh;
    padding-bottom: 1.5vh;
}
.idade{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vh;
    padding-bottom: 1.5vh;
}
.emailsobre{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vh;
    padding-bottom: 1.5vh;
}
.gitsobre{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1vh;
}
.curriculo{
    display: flex;
    padding-right: 7vh;
    padding-left: 5vh;
    padding-top: 8vh;
    gap: 7vh;
}
.parte1{
    width: 50%;
    height: 80vh;
}
.parte2{
    width: 50%;
    height: 80vh;
}
.superiorobj{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.alignline1{
    width: 30%;
}
.objetxt{
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: justify;
}
.superiorformacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding-bottom: 3vh;
}
.alignline2{
    width: 30%;
}
.haste{
    margin-left: 3vh;
    height: 45vh;
    border: solid 2.3px #000;
    border-right: none;
    border-bottom: none;
    border-top: none;
}
.bolinhapreta{
    width: 1.7vh;
    padding-bottom: 10vh;
}
.bolinhas{
    margin-left: 2.3vh;
    position: relative;
    top: -42vh;
}
.cronologia{
    padding-left: 5vh;
    position: relative;
    bottom: 91vh;
}
.anoeng{
    padding-bottom: 0.5vh;
}
.anobct{
    padding-bottom: 0.5vh;
}
.anotec{
    padding-bottom: 0.5vh;
}
.anomedio{
    padding-bottom: 0.5vh;
}
.instufabc{
    padding-bottom: 5.5vh;
}
.instsenai{
    padding-bottom: 5.5vh;
}

.alignline3{
    width: 30%;
}
.superiorsoft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding-bottom: 3vh;
}
.superioridiomas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding-bottom: 3vh;
}
.alignline4{
    width: 30%;
}
.labelportugues{
    font-size: 1em; 
}
.portugues{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.5vh
}
.proficiencia1{
    width: 12vh;
}
.ingles{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3.5vh;
}
.proficiencia2{
    width: 12vh;
}


.superiorcursos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding-bottom: 3vh;
}
.alignline5{
    width: 30%;
}
.listacursos{
    padding-bottom: 3vh;
}
.superiortrabvol{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding-bottom: 3vh;
}
.alignline6{
    width: 30%;
}
.trabtxt{
    padding-bottom: 3vh;
}
.voluntariado{
    font-size: 1.6vh;
}
/* ------------------------------------------------------------------Tecnologias---------------------------------------------------------- */
.tecnologias{
    min-height: 100vh;
}
.superiortech{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 8vh;
    gap: 5vh;
}
.inferiortech{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 7vh;
    gap: 5vh;
}
img.imghtml{
    width: 15%;
    height: 15%;
}
.imghtml:hover{
    transform: scale(1.05);
}
img.imgcss{
    width: 15%;
    height: 15%;
}
.imgcss:hover{
    transform: scale(1.05);
}
img.imgphp{
    width: 15%;
    height: 18%;
}
.imgphp:hover{
    transform: scale(1.05);
}
img.imgjavascri{
    width: 15.5%;
    height: 15.5%;
}
.imgjavascri:hover{
    transform: scale(1.05);
}
img.imgpython{
    width: 15%;
    height: 15%;
}
.imgpython:hover{
    transform: scale(1.05);
}
img.imgjava{
    width: 16%;
    height: 16%;
}
.imgjava:hover{
    transform: scale(1.05);
}
img.imgcplus{
    width: 15%;
    height: 15%;
}
.imgcplus:hover{
    transform: scale(1.05);
}
img.imgc{
    width: 15%;
    height: 15%;
}
.imgc:hover{
    transform: scale(1.05);
}

/* --------------------------------------------------------------------projetos----------------------------------------------------------- */
.projetos{
    min-height: 170vh;
}
.explorar{
    width: 17vh;
    height: 6vh;
    border-radius: 1rem;
    border: none;
    background-color: #dbdbdba4;
    color: #000;
    box-shadow: 8px 8px 18px rgba(0, 0, 0, 0.295);
    cursor: pointer;
}
.explorar:hover{
    transform: scale(1.05);
}
.projetech{
    padding-top: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 9vh;
    padding-bottom: 8vh;
}
.etechimg{
    width: 35%;
}
.contexto1{
    width: 35%;
}
.textetech{
    padding-bottom: 2vh;
    padding-top: 2vh;
}
.projnetflix{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4vh;
    padding-bottom: 8vh;
}
.netimg{
    width: 42%;
}
.contexto2{
    width: 30%;
}
.textnet{
    padding-bottom: 2vh;
    padding-top: 2vh;
}
.projlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4vh;
    padding-bottom: 10vh;
}
.loginimg{
    width: 42%;
}
.contexto3{
    width: 30%;
}
.textlogin{
    padding-bottom: 2vh;
    padding-top: 2vh;
}
/* ---------------------------------------------------------------------contato------------------------------------------------------------ */
.contato{
    min-height: 100vh;
}
#contform{
    padding-top: 9vh;
}
.contnumtel{
    width: 100%;
    display: flex;
    justify-content: center;

}
.email{
    width: 50%;
    display: flex;
    justify-content: end;
    padding-right: 2vh;
}
.telefone{
    width: 50%;
    padding-left: 2vh;
}
input[type="tel"]{
    width: 50%;
    height: 5vh;
    border-radius: 1rem;
    border: none;
    padding-left: 2vh;
    background-color: #f6f5f5e3;
}
input[type="email"]{
    width: 50%;
    height: 5vh;
    border-radius: 1rem;
    padding-left: 2vh;
    border: none;
    background-color: #f6f5f5e3;
}
.nome{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.mensagem{
    display:flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 2vh;
}
input[type="text"]{
    width: 51.2%;
    border-radius: 1rem;
    border: none;
    padding-left: 2vh;
    background-color: #f6f5f5e3;
}
input#inome{
    height: 5vh;
}
textarea#imsg{
    height: 15vh;
    padding-top: 1.5vh;
    width: 51.2%;
    border-radius: 1rem;
    border: none;
    padding-left: 2vh;
    background-color: #f6f5f5e3;
    
}
.enviarbtt{
    display: flex;
    justify-content: end;
    padding-right: 17%;
    width: 51.2%;
}
input[type="submit"]{
    width: 28%;
    border-radius: 1rem;
    border: none;
    height: 5vh;
    cursor: pointer;
    background-color: #0064e0;
    color: #ffff;

}
input[type="text"]:focus {
  outline: 2px solid #a1a1a1;
  outline-offset: 0;
}
input[type="tel"]:focus {
  outline: 2px solid #a1a1a1;
  outline-offset: 0;
}
input[type="email"]:focus {
  outline: 2px solid #a1a1a1;
  outline-offset: 0;
}
textarea:focus {
  outline: 2px solid #a1a1a1;
  outline-offset: 0;
}
.mapa{
    display: flex;
    justify-content: center;
}
.containeredes{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5vh;
    padding-top: 8vh;
    padding-bottom: 9vh;
}
.mailcont{
    width: 15%;
    height: 25vh;
    border-radius: 1rem;
    background-color: #f6f5f5e3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4vh;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.178);
    cursor: pointer;
}
.linkedincont{
     width: 15%;
    height: 25vh;
    border-radius: 1rem;
    background-color: #f6f5f5e3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 4vh;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.178);
    cursor: pointer;
}
.instacont{
    width: 15%;
   height: 25vh;
   border-radius: 1rem;
   background-color: #f6f5f5e3;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;   
    padding-top: 4vh;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.178);
    cursor: pointer;

}
.mailcont:hover{
    transform: scale(1.05);
}
.instacont:hover{
    transform: scale(1.05);
}
.linkedincont:hover{
    transform: scale(1.05);
}

i#instagram{
    padding-bottom: 6vh;
    font-size: 10vh;
    color: #0064e0;
}
i#linkedin{
    padding-bottom: 6vh;
    font-size: 9vh;
    color: #0064e0  ;
}
i#envelope{
    padding-bottom: 6vh;
    font-size: 9vh;
    color: #0064e0 ;
}
P.textinsta{
    color: #0064e0;
}
p.textlink{
    color:#0064e0;
}
p.textmail{
   color: #0064e0;
}
iframe{
    width: 51.2%;
    border-radius: 1rem;
    padding-bottom: 6vh;
}
/* --------------------------------------------------------------------footer--------------------------------------------------------------- */
footer{
    height: 20vh;
    background-color: #dfeffce8;
}
.footertxt{
    padding-top: 4vh;
    text-align: center;
    color: #4d4c4c;
}
.alinharlinha{
    padding-top: 3vh;
    display: flex;
    justify-content: center;
}
.linefooter{
    width: 8%;
    color: #000;
}
.iconsfooter{
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    color: #4b4b4b;
}